var
vendor
nbproject
reports
logs

.bash_history
._.DS_Store
.composer
.idea
.unison
.scannerwork
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
